.active {
  font-weight: bolder;
}

.hide-sidebar {
  margin-left: -15vw;
  transition: 1s;
}

.show-sidebar {
  margin-left: 0;
  transition: 1s;
}

#root {
  height: 100vh;
}

.sidebar-toggle {
  position: absolute;
  align-self: flex-end;
  width: 20px;
  height: 20px;
  margin-right: -20px;
  margin-top: 15%;
  text-align: center;
  background-color: #000;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block;
}
